.header {
  margin-bottom: 15vh;
  height: 10vw;
}

.logoStyle {
  width: 15vw; 
}

@media (max-width: 1920px) { 
  .header {
    margin-bottom: 50px;
    height: 180pt;
  }

  .logoStyle {
    width: 300px;
  }
}

@media (max-height: 720px) and (max-width: 1280px) { 
  .header {
    margin-bottom: 0;
  }
}

@media (max-width: 1152px) { 
  .header {
    margin-bottom: 50px;
  }
}

@media (max-width: 1024px) { 
  .header {
    margin-bottom: 20px;
  }

  .logoStyle {
    width: 266px; 
  } 
}

@media (max-width: 800px) { 
  .header {
    margin-bottom: 0;
    height: 150pt;
  }

  .logoStyle {
    width: 177px; 
  }
}