.home-container {
  display: flex;
  justify-content: space-between;
}

.home-screen-button {
  width: 27vw!important;
  margin-right: 5vw;
}

@media (max-width: 1920px) { 
  .home-screen-button {
    width: 27vw!important;
  }
}

@media (max-width: 1280px) { 
  .home-screen-button {
    width: 31vw!important;
  }
}